#main_img {
    width: 100%;
}

.headings {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#wce-content {
    display: flex;
    justify-content: space-evenly;
}

#wce-content > div {
    display: flex;
    flex-direction: column;
    width: 18%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
    padding-bottom: 10px;
}

#wce-content > div:hover {
    transform: scale(1.1);
}

#wce-content div h3 {
    text-align: center;
    line-height: 0;
}

#wce-content div p {
    color: grey;
    text-align: center;
}

#wce-content div h4 {
    text-align: center;
    line-height: 0;
}

#scp-content {
    display: flex;
    justify-content: space-evenly;
}

#scp-content > div {
    display: flex;
    flex-direction: column;
    width: 18%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
    padding-bottom: 10px;
}

#scp-content > div:hover {
    transform: scale(1.1);
}

#scp-content div h3 {
    text-align: center;
    line-height: 0;
}

#scp-content div p {
    color: grey;
    text-align: center;
}

#scp-content div h4 {
    text-align: center;
    line-height: 0;
}

#is-content {
    display: flex;
    justify-content: space-evenly;
}

#is-content > div {
    display: flex;
    flex-direction: column;
    width: 18%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
    padding-bottom: 10px;
}

#is-content > div:hover {
    transform: scale(1.1);
}

#is-content div h3 {
    text-align: center;
    line-height: 0;
}

#is-content div p {
    color: grey;
    text-align: center;
}

#is-content div h4 {
    text-align: center;
    line-height: 0;
}

#pr-content {
    display: flex;
    justify-content: space-evenly;
}

#pr-content > div {
    display: flex;
    flex-direction: column;
    width: 16%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
    padding: 15px;
}

#pr-content > div:hover {
    transform: scale(1.1);
}

#pr-content div h3 {
    text-align: center;
    line-height: 0;
}

#pr-content div p {
    color: grey;
    text-align: center;
}

#pr-content div h4 {
    text-align: center;
    line-height: 0;
}

#cc-content {
    display: flex;
    justify-content: space-evenly;
}

#cc-content > div {
    display: flex;
    flex-direction: column;
    width: 18%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
    padding-bottom: 8px;
}

#cc-content > div:hover {
    transform: scale(1.1);
}

#cc-content div h3 {
    text-align: center;
    line-height: 0;
}

#cc-content div p {
    color: grey;
    text-align: center;
}

#cc-content div h4 {
    text-align: center;
    line-height: 0;
}

#fr-content {
    display: flex;
    justify-content: space-evenly;
}

#fr-content > div {
    display: flex;
    flex-direction: column;
    width: 18%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
}

#fr-content > div:hover {
    transform: scale(1.1);
}

#fr-content div h3 {
    text-align: center;
    line-height: 0;
}

#fr-content div p {
    color: grey;
    text-align: center;
}

#fr-content div h4 {
    text-align: center;
    line-height: 0;
}

#vs-content {
    display: flex;
    justify-content: space-evenly;
}

#vs-content > div {
    display: flex;
    flex-direction: column;
    width: 18%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
    padding-bottom: 8px;
}

#vs-content > div:hover {
    transform: scale(1.1);
}

#vs-content div h3 {
    text-align: center;
}

#vs-content div p {
    color: grey;
    text-align: center;
}

#vs-content div h4 {
    text-align: center;
    line-height: 0;
}

#cs-content {
    display: flex;
    justify-content: space-evenly;
}

#cs-content > div {
    display: flex;
    flex-direction: column;
    width: 18%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
    padding-bottom: 5px;
}

#cs-content > div:hover {
    transform: scale(1.1);
}

#cs-content div h3 {
    text-align: center;
    line-height: 0;
}

#cs-content div p {
    color: grey;
    text-align: center;
}

#cs-content div h4 {
    text-align: center;
    line-height: 0;
}

#ip-content {
    display: flex;
    justify-content: space-evenly;
}

#ip-content > div {
    display: flex;
    flex-direction: column;
    width: 18%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-top: 1px solid black;
    padding-bottom: 8px;
}

#ip-content > div:hover {
    transform: scale(1.1);
}

#ip-content div h3 {
    text-align: center;
}

#ip-content div p {
    color: grey;
    text-align: center;
}

#ip-content div h4 {
    text-align: center;
    line-height: 0;
}

div button {
    width: 150px;
    padding: 5px 10px;
    border: none;
    background-color:teal;
    color: whitesmoke;
    border-radius: 3px;
    margin:auto;
}