body{
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#nav {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#nav_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#logo_img {
    width: 40px;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#title {
    color: rgb(66, 182, 66);
    font-family: sans-serif;
}

#nav_links, #nav_innerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#nav_innerContent {
    margin-right: 50px;
}

a {
    text-decoration: none;
    text-shadow: 2px 2px 5px lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

#nav_innerContent > a {
    color: gray;
}

#nav_innerContent > a:hover {
    transform: scale(1.3);
    color: lightgray;
}

#search_nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
}

input {
    border: none;
    padding: 10px;
    width: 40%;
    background-color: rgb(233, 233, 233);
    color: gray;
    font-family: sans-serif;
    border-radius: 5px;
    margin-left: 100px;
}

button {
    margin-right: 50px;
    border: none;
    border-radius: 5px;
    background-color: lightsalmon;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 15px;
}

button:hover {
    transform: scale(1.2);
}